Repository Automattic/newspack-sponsors, pull requests merged in 2021-11, with the labels that each got.

#72 fix: update ci images and NPM packages
  .circleci/config.yml
  .gitignore
  .nvmrc
  .stylelintrc
  package-lock.json
  package.json
  src/editor/taxonomy-panel/index.js
Labels: [Status] Approved

#74 feat: try enabling dependabot to keep dependencies up to date
  .github/dependabot.yml
Labels: question, [Status] Approved

#87 chore: automatically assign dependabot PRs to Newspack Product group
  .github/dependabot.yml
Labels: [Status] Approved, dependencies

#103 chore(deps): reduce frequency of dependabot checks
  .github/dependabot.yml
Labels: [Status] Approved, dependencies

#110 Release Nov 30
  .circleci/config.yml
  .gitignore
  .nvmrc
  .stylelintrc
  CHANGELOG.md
  newspack-sponsors.php
  package-lock.json
  package.json
  src/editor/taxonomy-panel/index.js
Labels: [Status] Approved
