Repository Automattic/newspack-sponsors, pull requests merged in 2022-01, with the labels that each got.

#122 chore(deps): implement dependabot auto-merge
  .github/workflows/auto-merge.yml
Labels: [Status] Approved, dependencies

#141 chore: update post-release job to pull changelog and semver changes to master
  .circleci/config.yml
Labels: [Status] Approved

#149 fix(wp5.9): taxonomy panel filter
  CHANGELOG.md
  src/editor/taxonomy-panel/index.js
Labels: bug, [Status] Approved

#143 chore: add CODEOWNERS file
  .github/CODEOWNERS
Labels: [Status] Approved

#153 Release Jan 18
  .circleci/config.yml
  .github/dependabot.yml
  .github/workflows/auto-merge.yml
  CHANGELOG.md
  babel.config.js
  composer.lock
  newspack-sponsors.php
  package-lock.json
  package.json
  src/editor/taxonomy-panel/index.js
Labels: [Status] Approved

#154 Post-release 1/19/2022
  CHANGELOG.md
  newspack-sponsors.php
  package-lock.json
  package.json
Labels: [Status] Approved

#156 chore: use newspack-scripts
  .circleci/config.yml
  .eslintrc.js
  .stylelintrc
  babel.config.js
  composer.json
  package-lock.json
  package.json
  src/editor/taxonomy-panel/index.js
Labels: [Status] Approved

#159 ci: fix post-release flow
  .circleci/config.yml
Labels: [Status] Needs Review
