Repository Automattic/newspack-sponsors, pull requests merged in 2023-01, with the labels that each got.

#221 fix: add failsafe to ensure that Sponsors queries contain only sponsors CPT
  includes/class-core.php
  includes/theme-helpers.php
Labels: bug, [Status] Approved

#222 Alpha release Jan 13
  .circleci/config.yml
  composer.lock
  package-lock.json
  package.json
Labels: [Status] Needs Review

#223 Release Jan 13
  .circleci/config.yml
  CHANGELOG.md
  composer.lock
  newspack-sponsors.php
  package-lock.json
  package.json
Labels: [Status] Needs Review

#224 fix: ensure term has taxonomy
  includes/theme-helpers.php
Labels: [Status] Approved
